*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #001632;
}
li{
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;

}
.delete{
    border-radius: 5px;
    background-color: rgb(244, 3, 3);
    aspect-ratio: 1/1;
}
.fa-trash-can{
    width: 30px;
    color: beige;
}

.done{
    text-decoration: line-through;
    text-decoration-color: rgb(244, 3, 3);
}